@page "/Moras"
@page "/Moras/{MoraId:int}"

@using RegistroPrestamoDetalle.Models;
@using RegistroPrestamoDetalle.BLL;
@inject IToastService toast;

<EditForm Model="moras" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Registro de Moras</h3>
        </div>

        <div class="card-body">
            <form>
                @*MontoId*@
                <div class="col">
                    <div class="form-group">
                        <label>MoraId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="moras.MoraId" class="form-control col-4" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text oi oi-magnifying-glass" @onclick="Buscar"> Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>

                @*Fecha*@
                <div class="form-group">
                    <label>Fecha</label>
                    <InputDate @bind-Value="moras.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => moras.Fecha)" />
                </div>

                @*Prestamos Existentes*@
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label>PrestamoId</label>
                            <select class="form-control" @bind="SeleccionPrestamo">
                                <option value="" disabled selected>Prestamos Disponibles</option>
                                @foreach (var item in ListaPrestamo)
                                {
                                    <option value="@item.PrestamoId">Id:@item.PrestamoId a Nombre de:@item.Nombres</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                @*Monto*@
                <div class="col">
                    <label>Monto</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="MontoDetalle" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-info oi oi-plus" @onclick="Agregar"> Agregar</button>
                        </div>
                    </div>
                </div>

                @*La Tabla*@
                <div class="table-responsive text-nowrap" style="position: relative; height:180px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>MoraId</th>
                                <th>PrestamoId</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        @*Asignacion de Datos*@
                        <tbody class="bg-white">
                            @foreach (var item in moras.MoraDetalle)
                            {
                                <tr>
                                    <td>@item.MoraDetalleId</td>
                                    <td>@item.MoraId</td>
                                    <td>@item.PrestamoId</td>
                                    <td>@item.Monto</td>
                                    <td><button type="button" class="btn btn-lg btn-danger oi oi-minus" @onclick="(() => Remover(item))"> Remover</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*Total*@
                <div class="form-group">
                    <label>TOTAL:</label>
                    <InputNumber @bind-Value="moras.Total" class="form-control" readonly="true" />
                    <ValidationMessage For="@(() => moras.Total)" />
                </div>
            </form>
        </div>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-secondary oi oi-file" @onclick="Nuevo"> Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success oi oi-cloud-upload"> Guardar</button>
                <button type="button" class="btn btn-lg btn-danger oi oi-trash" @onclick="Eliminar"> Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter]
    public int MoraId { get; set; }
    private decimal MontoDetalle { get; set; }
    private int SeleccionPrestamo { get; set; }

    private Moras moras = new Moras();
    private List<Prestamos> ListaPrestamo = new List<Prestamos>();

    protected override void OnInitialized()
    {
        Nuevo();

        if (MoraId > 0)
        {
            var Mora = MorasBLL.Buscar(MoraId);
            if (Mora != null)
                this.moras = Mora;
            else
                toast.ShowWarning("No encontrado.");
        }

        ListaPrestamo = PrestamosBLL.GetList(p => true);
    }

    private void Nuevo()
    {
        moras = new Moras();
        SeleccionPrestamo = 0;
        MontoDetalle = 0;
    }

    private void Buscar()
    {
        if (moras.MoraId > 0)
        {
            var encontrado = MorasBLL.Buscar(moras.MoraId);

            if (encontrado != null)
                moras = encontrado;
            else
                toast.ShowWarning("No encontrado");
        }
    }

    private void CalcularTotal()
    {
        decimal total = 0;

        foreach (var item in moras.MoraDetalle)
        {
            total += item.Monto;
        }
        moras.Total = total;
    }

    private void Agregar()
    {
        if (SeleccionPrestamo == 0)
        {
            toast.ShowWarning("Tiene que seleccionar un prestamoId");
            return;
        }

        if (MontoDetalle <= 0)
        {
            toast.ShowWarning("El Monto debe ser mayor a 0.");
            return;
        }
        else
        {
            this.moras.MoraDetalle.Add(new MorasDetalle
            {
                MoraId = moras.MoraId,
                PrestamoId = SeleccionPrestamo,
                Monto = MontoDetalle
            });

            SeleccionPrestamo = 0;
            MontoDetalle = 0;
        }
        CalcularTotal();
    }

    private void Remover(MorasDetalle Detalle)
    {
        try
        {
            moras.MoraDetalle.Remove(Detalle);
            CalcularTotal();
        }
        catch (Exception)
        {
            throw;
        }
    }

    private void Guardar()
    {
        bool guardo = false;

        if (moras.MoraDetalle.Count == 0)
        {
            toast.ShowWarning("Tienes que agregar al menos un elemento a la lista");
            return;
        }
        else
        {
            guardo = MorasBLL.Guardar(moras);

            if (guardo)
            {
                Nuevo();
                toast.ShowSuccess("Guardo Correctamente");
            }
            else
                toast.ShowError("No fue posible guardar");
        }
    }

    private void Eliminar()
    {
        bool elimino;

        elimino = MorasBLL.Eliminar(moras.MoraId);

        if (elimino)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
            toast.ShowError("No fue posible eliminar");
    }
}